<div class="card">
  <div class="card-header">
    <strong class="card-title">Control UI</strong>
  </div>
  <table id="bootstrap-data-table-wallet-<%= service.name.parameterize %>" class="table table-striped table-bordered">
    <% count = 0 %>
    <% revenue = 0 %>
    <% average = 0 %>
      <% if service.childs.present? %>
        <% service.childs.each do |child| %>
          <% child.service_accounts.each do |serviceAcc| %>
            <% if  serviceAcc.user_id == current_user.id %>
                <% count = count + 1 %>
                <% revenue = revenue + (serviceAcc.payout - serviceAcc.investment) %>
            <% end %>
          <% end %>
          <% average = (revenue / count) %>
        <% end %>
      <% else %>
        <% service.service_accounts.each do |serviceAcc| %>
          <% if  serviceAcc.user_id == current_user.id %>
            <% count = count + 1 %>
            <% revenue = revenue + (serviceAcc.payout - serviceAcc.investment) %>
          <% end %>
          <% average = (revenue / count) %>
        <% end %>
      <% end %>
    <thead>
      <tr>
        <th>Count</th>
        <td><%= count %></td>
      </tr>
      <tr>
        <th>Revenue</th>
        <td><%= revenue %></td>
      </tr>
      <tr>
        <th>Average</th>
        <td><%= average %></td>
      </tr>
    </thead>
  </table>
</div>
